@charset "utf-8";

/* Using the universal selector to remove the margin and padding */
* {
    margin:0;
    padding:0;
}

/* Styling the container id selector */
#container {
    height:100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    top:125px;
    bottom:50px;
    width: 950px;
    background-color: #000000;
    border: 1px solid #000000;
    
}
body {
    background-color: #000000;
}

/* Styling the header id selector */
#header 
{
    width:100%;
    height: 80px;
    
    /*
       Gradient is not supported on IE 9 and lower
       http://stackoverflow.com/questions/19980079/how-to-make-background-image-with-linear-gradient-work-on-ie-11
    */
    background: linear-gradient(to right, #000, #444444);
    margin: 0 0 0 0;
    padding: 0;
    text-align: center;
    font-size: 36px;
    color: #FFFFFF;
    font-weight: bold;
}


#title {
    height:100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    width: 950px;
}  

/* Styling the Logos */
#logo {
    float: left;
    margin-top:5px;
    
}

/* Styling the search form */

.search_box
{
    padding:3px 3px 3px 3px;
    width:180px;
    border:1px solid #BCBBB;
    border-radius: .5em;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.search_button
{
    font-size:15px;
    border-radius:2em;  
}



/* Styling the navigation id selector */
#navigation {
    width:100%;
    height: 35px;
    background: linear-gradient(to right, #000, #444444);
    margin: 0 0 0 0;
    padding:10px 0 0 0;
    text-align:center;
    
}

/* Styling the li selector */
li {
    display: inline;
    background-color: #444444;
    color: #050485;
    padding: 0 4px;
}

/* Styling the content selector */
#content {
    height:100%;
    width: 730px;
    margin: 0 0 0 0;
    padding: 5px;
    background-color: #000000;
    float: left;
    color: white;
}
/* Styling the sideblock1 selector */
#sideblock1 {
    width: 200px;
    margin: 0 0 0 0;
    padding: 5px;
    background-color: #808080;
    float: right;
    clear: right;
}
/* Styling the sideblock2 selector */
#sideblock2 {
    width: 200px;
    margin: 0 0 0 0;
    padding: 5px;
    background-color: #444444;
    float: right;
    clear: right;
}
/* Styling the sideblock3 selector */
#sideblock3 {
    width: 200px;
    margin: 0 0 0 0;
    padding: 5px;
    background-color: #808080;
    float: right;
    clear: right;
}
/* Styling the footer id selector */
#footer {
    width:100%;
    height: 50px;
    clear: both;
    margin: 0 0 0 0;
    padding: 0;
    background: linear-gradient(to right, #000, #444444);
    text-align: center;
    font-family: Verdana,sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    position:absolute;
    bottom:0;
}