@charset "utf-8";



/* Styling the container id selector */
#container {
    width: 1100px;
}


/* Styling the header id selector */
#header 
{
    width:100%;
    text-align: center;
}



/* Styling the content selector */
#content {
    width: 880px;
}





/* Styling the sideblock1 selector */
#sideblock1 {
    width: 190px;
    margin: 5px 0 5px 0;
    float: right;
}

/* Styling the GameServer Block */
.gameServerTitles {
    text-decoration: underline;
}
.gameServerImage {
    float: left;
    width: 50px;
    height: 54px;
    margin: 5px;
    clear: both;
}
#gameServer1Status {
    color: #32980f;
    text-transform:uppercase;
    font-weight: bold;
}
#gameServer2Status {
    color: #d01526;
    text-transform:uppercase;
    font-weight: bold;
}
#gameServer3Status {
    color: #32980f;
    text-transform:uppercase;
    font-weight: bold;
}
.gameServerPlayers {
    color: #0066ff;
    font-weight: bold;
}
.gameServerGame {
    color: #c8bf50;
}
/* Styling the sideblock2 selector */
#sideblock2 {
    width: 190px;
    margin: 0 0 5px 0;
    float: right;
}
/* Styling the sideblock3 selector */
#sideblock3 {
    width: 190px;
    margin: 0 0 5px 0;
}

/* Styling the donations */
#donate {
    margin-left: 50px;
}

/* Styling the Games Page */
.gameInfoLeft img {
    float: left;
    clear: left;
}
.gameInfoLeft {
    padding-top: 10px;
    float: left;
    font-size: 12px;
}
.gameInfoRight {
    padding-top: 10px;
    float: right;
    font-size: 12px;
}
.gameInfoRight img {
    float: right;
    clear: right;
}
.gameInfo {
    list-style-type: none;
}
.gameInfo h3 {
    font-size: 16px;
    color: #c8bf50;
}
.gameInfoRight h3 {
    text-align: right;
}

