@charset "utf-8";



/* Styling the container id selector */
@media (min-width: 1050px) {
    #container {
    width: 1100px;
}
}
@media (max-width: 1049px) {
    #container {
    width: auto;
}
}



/* Styling the header id selector */
#header 
{
    width:100%;
    text-align: center;
}



/* Styling the content selector */
@media (min-width: 1050px) {
    #content {
        width: 880px;
    }
}
@media (max-width: 1049px) {
    #content {
    width: 70%;
}
}




/* Styling the sideblock1 selector */
#sideblock1 {
    width: 190px;
    margin: 5px 0 5px 0;
    float: right;
}

/* Styling the GameServer Block */
.gameServerTitles {
    text-decoration: underline;
}
#gameServer1 {
    padding-top: 0px;
}
#gameServer2 {
    padding-top: 10px;
}
#gameServer3 {
    padding-top: 10px;
    
}
/* Inserting images for GameServers*/
div.imgGameServer {
    content: url(../images/gameserver.png);
    float: left;
    width: 50px;
    height: 54px;
    margin: 5px;
    clear: both;
}

#gameServer1Status {
    color: #32980f;
    text-transform:uppercase;
    font-weight: bold;
}
#gameServer2Status {
    color: #d01526;
    text-transform:uppercase;
    font-weight: bold;
}
#gameServer3Status {
    color: #32980f;
    text-transform:uppercase;
    font-weight: bold;
}
.gameServerPlayers {
    color: #0066ff;
    font-weight: bold;
}
.gameServerGame {
    color: #c8bf50;
}
/* Styling the sideblock2 selector */
#sideblock2 {
    width: 190px;
    margin: 0 0 5px 0;
    float: right;
}
/* Styling the sideblock3 selector */
#sideblock3 {
    width: 190px;
    margin: 0 0 5px 0;
}

/* Styling the donations */
#donate {
    margin-left: 50px;
}

/* Styling the Games Page */
.gameInfoLeft img {
    float: left;
    clear: left;
}
.gameInfoLeft {
    padding-top: 10px;
    float: left;
    font-size: 12px;
}
.gameInfoRight {
    padding-top: 10px;
    float: right;
    font-size: 12px;
}
.gameInfoRight img {
    float: right;
    clear: right;
}
.gameInfo {
    list-style-type: none;
}
.gameInfo h3 {
    font-size: 16px;
    color: #c8bf50;
}
.gameInfoRight h3 {
    text-align: right;
}

/* Inserting images for Games */
div.imgLeft1 {
    content: url(../images/Grand_Theft_Auto_V.png);
    float: left;
}
div.imgRight1 {
    content: url(../images/Battlefield_4.png);
    float: right;
}
div.imgLeft2 {
    content: url(../images/Call_of_Duty_Ghosts.png);
    float: left;
}
