@charset "utf-8";

/* Using the universal selector to remove the margin and padding */
* {
    margin:0;
    padding:0;
}

body {
    background-color: #000000;
}

/* Styling the container id selector */
#container {
    height:100%;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top:3px;
    left:0;
    right:0;
    top:80px;
    background-color: #000000;
    border: 1px solid #000000;
    
}

#container ol
{
    margin-left:30px;

}

/* Styling the header id selector */
#header 
{
    height: 80px;
    
    /*
       Gradient is not supported on IE 9 and lower
       http://stackoverflow.com/questions/19980079/how-to-make-background-image-with-linear-gradient-work-on-ie-11
    */
    background: linear-gradient(to right, #000, #444444);
    margin: 0 0 0 0;
    padding: 0;
    font-size: 36px;
    color: #FFFFFF;
    font-weight: bold;
}

/* Styling the Header Logos */

#title
{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    float: left;
    margin-top:5px;
    
}

/* Styling the search form */

.search_box
{
    padding:3px 3px 3px 3px;
    width:180px;
    border:1px solid #BCBBBB;
    border-radius: .5em;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.search_button
{
    font-size:13px;
    width: 30px;
    border-radius:2em;  
}



/* Styling the navigation id selector */
#navigation {
    background: #1f1f1f;
    border-width:thin;
    border-style:solid;
    border-color:#909090;
    border-radius:.5em;
    margin: 0 0 0 0;
    padding:5px 0 5px 0;
    font-family:Arial, Sans-Serif;
    text-transform:uppercase;
    text-align:center;
    
}

a
{
    color:#ccc;
}
a:hover {
    color: #0066ff;
    text-decoration: underline overline;
    font-weight: bolder;
}


/* Styling the navbar class */
.navbar {
    display: inline;
    background-color: #444444;
    font-size:12px;
    color: #050485;
    padding: 0 4px;
}

/* Styling the content selector */
#content {
    min-height:80%;
    background: #1f1f1f;
    border-width:thin;
    border-style:solid;
    border-color:#909090;
    border-radius:.5em;
    margin: 5px 0 5px 0;
    padding: 5px;
    float: left;
    color: white;
    font-family:Arial, Sans-Serif;
}

/*Styling the article selector */
h2
{
    color:#0066ff;
    text-align: center;
}

/* Styling the sideblock1 selector */
#sideblock1 {
    background: #1f1f1f;
    border-width:thin;
    border-style:solid;
    border-color:#909090;
    border-radius:.5em;
    padding: 5px;
    background-color: #1f1f1f;
    color: #FFFFFF;
    clear: right;
}

/* Styling the sideblock2 selector */
#sideblock2 {
    border-width:thin;
    border-style:solid;
    border-color:#909090;
    border-radius:.5em;
    padding: 5px;
    background-color: #444444;
    clear: right;
}

/* Styling the sideblock3 selector */
#sideblock3 {
    border-width:thin;
    border-style:solid;
    border-color:#909090;
    border-radius:.5em;
    padding: 5px;
    background-color: #1f1f1f;
    color: #FFFFFF;
    float: right;
    clear: right;
}

/* Styling the donations */
#donate {
    background-image: url(../images/paypal-small.png);
    background-repeat: no-repeat;
    width: 90px;
    height: 56px;
    border: 0px;
    border-radius: 0.5em;
    cursor: pointer;
    outline: 0;
}

/* Styling the footer id selector */
#footer {
    height: 35px;
    clear: both;
    background: #1f1f1f;
    border-width:thin;
    border-style:solid;
    border-color:#909090;
    border-radius:.5em;
    margin: 0 0 0 0;
    padding:5px 0 5px 10px;
    background: linear-gradient(to right, #000, #444444);
    text-align: center;
    font-family: Verdana,sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    bottom:0;
}

/* Styling gallery page */

#thumbs
{
    background: #1f1f1f;
    border-width:thin;
    border-style:solid;
    border-color:#909090;
    border-radius:.5em;
    margin: 5px 0 10px 0;
    padding:5px 0 5px 0;
    font-family:Arial, Sans-Serif;
    text-align:center;
    
}

#gallery li
{
    display:inline;
}

img.resize
{
    width:100%;
    
}

/* Inserting images for Games */
div.imgLeft1:before {
    content: url(../images/Grand_Theft_Auto_V.png);
}
div.imgRight1:before {
    content: url(../images/Battlefield_4.png);
}
div.imgLeft2:before {
    content: url(../images/Call_of_Duty_Ghosts.png);
}

/* Form validation styles */
input.valid {
    background: url(../images/icon-ok.png) no-repeat right center #e3ffe5;
    color: #002f00;
    border-color: #96b796 !important;
}
input.error {
    background: url(../images/icon-fail.png) no-repeat right center #ffebef;
    color: #480000;
}
span.form-error {
    display: block;
    color: red;
    margin-top: 6px;
    padding-left: 0;
}
input {
    height: 20px;
}


/* Styling the news container */

#news{
    min-height:80%;
    background: #1f1f1f;
    border-width:thin;
    border-style:solid;
    border-color:#909090;
    border-radius:.5em;
    margin: 5px 0 10px 0;
    padding:5px 0 5px 0;
    font-family:Arial, Sans-Serif;
   
    
}

.news_element{
    width:90%;
    height:22em;
    margin-right:auto;
    margin-left:auto;
    margin-top:10px;
    margin-bottom:10px;
    color:whitesmoke;
    

    
}

.news_element img{
    margin:20px 0 0 50px;
    float:right;
    width:50%;
    clear:both;
}

/* Styling the Store container*/

#store {
    min-height:100%;
    background: #1f1f1f;
    border-width: thin;
    border-style: solid;
    border-color: #909090;
    border-radius: .5em;
    margin: 5px 0 10px 0;
    padding: 5px 0 5px 0;
    font-family: Arial, Sans-Serif;
    color:white;
}

#store h4{
    text-align:center;
}

#store table{

    margin-right:auto;
    margin-left:auto;
    margin-top:10px;
}

#store h3{
    font-size: 16px;
    color: #C8BF50;
    text-align:center;
}

.item{
    border-style:double;
    border-color:#909090;
    
}

.options{
   text-align:center;
   
}

.add{
    text-align:center;

    
}

.add button{
    background-color:transparent;
    border:none;
    outline:none;
    cursor:pointer;
}

#order{
    margin-top:50px;
}

.cell{
    padding-right:100px;
       
}

#checkout{
    float:right;
    margin-right:10px;
    margin-top:30px;
}

#checkout button{
    background-color:transparent;
    border:none;
    outline:none;
    cursor:pointer;
    
   
}

/*Styling the Members page. *Source design from http://www.marcofolio.net/ */


#members{
    min-height:80%;
    background: #1f1f1f;
    border-width:thin;
    border-style:solid;
    border-color:#909090;
    border-radius:.5em;
    margin: 5px 0 10px 0;
    padding:5px 0 5px 0;
    font-family:Arial, Sans-Serif;
    text-align:center;
    color:white;
}



#members ul{
    width:60%;
    margin-right:auto;
    margin-left:auto;
}

.membersGallery{
    margin-top:30px;
    margin-bottom:60px;
    text-align:center;
    display: inline;
    float:left;
    perspective:500px;
    transform-style:preserve-3d;
    transition-property: perspective;
    transition-duration: 0.5s;
    -webkit-perspective: 500px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition-property: perspective;
    -webkit-transition-duration: 0.5s;
    
    

}

.membersGallery img{
    border: 5px solid #fcfafa;
    transform: rotateY(30deg);
    transition-property: transform;
    transition-duration: 0.5s;
    box-shadow: 0 3px 3px #888;
    -webkit-transform: rotateY(30deg);
    -webkit-box-shadow: 0 3px 3px #888;
    -webkit-transition-property: transform;
    -webkit-transition-duration: 0.5s;
}

.membersGallery:hover img {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

.membersGallery div{
    border: 5px solid #fcfafa;
    padding: 2px;
    width: 135px;
    height: 65px;
    background-color:gray;
    text-align:left;
    color:black;
    font-size:12px;
    font-weight:lighter;
    margin: -30px 0 0 0px;
    position: absolute;
    transform: translateZ(30px) rotateY(30deg);
    transition-property: transform, box-shadow,margin;
    transition-duration: 0.5s;
    box-shadow: 1px 3px 3px #888;
    -webkit-transform: translateZ(30px) rotateY(30deg);
    -webkit-transition-property: transform, margin;
    -webkit-transition-duration: 0.5s;
}

.membersGallery:hover div {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

#searchProfile{
    clear:both;
    padding-top:100px;
    
}


/* Styling the videos page*/


#trailers{
    min-height:80%;
    background: #1f1f1f;
    border-width:thin;
    border-style:solid;
    border-color:#909090;
    border-radius:.5em;
    margin: 5px 0 10px 0;
    padding:5px 0 5px 0;
    font-family:Arial, Sans-Serif;
    text-align:center;
    color:white;
}

video.resize{
    width:70%;
    padding:20px;
}