@charset "utf-8";

/* Import Generic CSS file */
@import url("generic.css") only screen;

/* Desktop */
@import url("desktop.css")  only screen and (min-width:1100px);

/* tablet */
@import url("tablet.css") only screen and (max-width:1100px);

/* Phone */
@import url("phone.css") only screen and (max-width:400px);

