@charset "utf-8";

/* Styling the navbar class */

.navbar {   font-size:medium;
}

/*Styling the header*/

.logo{
    height:50px;
}

/*Styling footer */
.logo1{
    display:none;
}

#footer{
    font-size:small;
    height:55px;
}


/* Removing sideblocks and search field*/

#sideblock1
{
    display:none;    
}

#sideblock2
{
    display:none;
}    
    
#sideblock3
{
    display:none;
}

.search_box
{
    display:none;
}

.search_button
{
    display:none;
}

/* Styling the Games Page */



.gameInfo h3 {
    text-align:left;
    font-size: 16px;
    color: #c8bf50;
} 



/* Inserting images for Games */


/*Styling News page*/

#news_container img{
    display:none;
}

.news_article {
    width:100%;
    padding:20px 5px 5px 5px;
  
}

/* Fixing country field width in Join page*/

#country{
    width:240px;
}

/*Fixing forms width*/
#contact{
    font-size:smaller;

}

#join{
    font-size:smaller;
}

/* Fix search for members element*/

#searchProfile{
    font-size:smaller;
}

#search_box_member{
    width:130px;
}

/* Fixing store page*/

.item{
    background-color:white;
    text-align:center;
}
.item img{
    width:90px;
    height:120px;
}

.cell{
    padding-right:50px;
}