@charset "utf-8";

#sideblock1
{
    display:none;    
}

#sideblock2
{
    display:none;
}    
    
#sideblock3
{
    display:none;
}

#search_box
{
    display:none;
}

#search_button
{
    display:none;
}