@charset "utf-8";

/* Styling the navbar class */

.navbar {   font-size:large;
}


/* Removing sideblocks and search field*/

#sideblock1
{
    display:none;    
}

#sideblock2
{
    display:none;
}    
    
#sideblock3
{
    display:none;
}

#search_box
{
    display:none;
}

#search_button
{
    display:none;
}

/* Styling the Games Page */
.gameInfo h3 {
    font-size: 16px;
    color: #c8bf50;
    text-align:center;
    padding:30px 0 10px 0;
}

/* Inserting images for Games */
div.imgLeft1:before {
    margin-right:auto;
    margin-left:auto;
}
div.imgRight1:before {
    margin-right:auto;
    margin-left:auto;
}
div.imgLeft2:before {
    margin-right:auto;
    margin-left:auto;
    
}