@charset "utf-8";




/* Styling the sideblock1 selector */
#sideblock1 
{
    width: 70%;
    height:150px;
    margin-top:5px;
    margin-bottom:5px;
    float: left;
}

/* Styling the GameServer Block */
.gameServerTitles {
    text-decoration: underline;
}
.gameServer {
    
}
#gameServer1 {
    float: left;
    margin-top: 40px;
    width: 25%;
}
#gameServer2 {
    float: left;
    margin-top: 40px;
    
    width: 30%;
}
#gameServer3 {
    float: left; 
    margin-top: 40px;
   
    width: 35%;
}
/* Inserting images for GameServers*/
div.imgGameServer {
    content: url(../images/gameserver.png);
    float: left;
    width: 50px;
    height: 54px;
    margin: 5px;
    clear: both;
}

#gameServer1Status {
    color: #32980f;
    text-transform:uppercase;
    font-weight: bold;
}
#gameServer2Status {
    color: #d01526;
    text-transform:uppercase;
    font-weight: bold;
}
#gameServer3Status {
    color: #32980f;
    text-transform:uppercase;
    font-weight: bold;
}
.gameServerPlayers {
    color: #0066ff;
    font-weight: bold;
}
.gameServerGame {
    color: #c8bf50;
}
/* Styling the sideblock2 selector */
#sideblock2 {
    display:none;
    margin-top:5px;
    margin-bottom:5px;
    float: left;
    
}
/* Styling the sideblock3 selector */
#sideblock3 {
    width: 25%;
    height: 150px;
    margin-top:5px;
    margin-bottom:5px;
}

/* Styling the donations */

#donate_dropdown
{
    text-align:center;   
}

#donate {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* Styling the Games Page */
.gameInfoLeft img {
    float: left;
    clear: left;
}
.gameInfoLeft {
    padding-top: 10px;
    float: left;
    font-size: 12px;
}
.gameInfoRight {
    padding-top: 10px;
    float: right;
    font-size: 12px;
}
.gameInfoRight img {
    float: right;
    clear: right;
}
.gameInfo {
    list-style-type: none;
}
.gameInfo h3 {
    font-size: 16px;
    color: #c8bf50;
}
.gameInfoRight h3 {
    text-align: right;
}

/* Inserting images for Games */
div.imgLeft1 {
    content: url(../images/Grand_Theft_Auto_V.png);
    float: left;
}
div.imgRight1 {
    content: url(../images/Battlefield_4.png);
    float: right;
}
div.imgLeft2 {
    content: url(../images/Call_of_Duty_Ghosts.png);
    float: left;
}